@page "/products"
@inject IProductRepository _productRepo
@inject IProductService _productService
@inject IJSRuntime _jsRuntime

@if (Loading)
{
    <_Loading></_Loading>
}
else
{
    <_BootstrapModal 
    ModalId="@DELETE_MODAL_ID" 
    ModalTitle="Confirm Product Deletion"
    OnConfirm="@(() => ConfirmDelete())"
    ConfirmButtonStyle = "btn-danger"
    ConfirmText="Delete"
    >
        <p>Are you sure you want to delete this product?</p>
    </_BootstrapModal>
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Product List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a href="products/create" class="btn btn-lg btn-secondary" style="width:250px;">
                        <i class="bi bi-plus-square"></i>
                        Add New Product
                    </a>
                </div>
            </div>
            @if (Products.Any())
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Tag</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var product in Products)
                        {
                            <tr>
                                <td>
                                    @product.Name
                                </td>
                                <td>
                                    @product.Price
                                </td>
                                <td>
                                    <span class="badge text-bg-info">@product.SpecialTag</span>
                                </td>
                                <td>
                                    @product.Category.Name
                                </td>
                                <td>
                                    <a href="@($"products/update/{product.Id}")" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i>
                                        Edit
                                    </a>
                                    <button class="btn btn-danger" @onclick="@(() => OpenDeleteModal(product.Id))">
                                        <i class="bi bi-trash3"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
        </div>
    </div>
}

@code {
    private const string DELETE_MODAL_ID = "deleteModal";
    public bool Loading { get; set; } = true;
    private IEnumerable<Product> Products { get; set; } = new List<Product>();
    private int DeleteProductId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Products = await GetProducts();
            Loading = false;
            StateHasChanged();
        }
    }

    private async Task<IEnumerable<Product>> GetProducts()
    {
        return await _productRepo.GetAllAsync();
    }

    private async Task OpenDeleteModal(int id)
    {
        DeleteProductId = id;
        await _jsRuntime.OpenModal(DELETE_MODAL_ID);
    }

    private async Task ConfirmDelete()
    {
        Loading = true;
        await _jsRuntime.CloseModal(DELETE_MODAL_ID);
        if (DeleteProductId > 0)
        {
            var res = await _productService.DeleteProductAsync(DeleteProductId);
            if (res)
            {
                await _jsRuntime.ToastrSuccess("Product deleted successfully");
            }
            else
            {
                await _jsRuntime.ToastrError("Category delete failed");
            }
            

            Products = await GetProducts();
        }

        DeleteProductId = 0;
        Loading = false;
    }
}
